Repository uyupun/official: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "yarn lint:eslint",
  "*.{js,jsx,ts,tsx,json,html,css,yml,yaml}": "yarn lint:prettier",
  "*.*": ["yarn lint:ls", "yarn lint:cspell"]
}

deploy: e9dbafc838f979b58902aa15c77dfe45d948e77e
  main/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: e9dbafc838f979b58902aa15c77dfe45d948e77e
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: Textコンポーネントからsizeプロパティを削除
  src/components/base/Text/index.stories.tsx
  src/components/base/Text/index.tsx
  src/components/base/Text/styles.css.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: 使用しなくなったフォントサイズの削除
  src/styles/themes.css.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: d9892b74be0a3919943987111cf758c202c631dc
  refactor_305_text-component/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: f7f200a2146cb161832f266a23367e6803fd31de
  main/storybook/135.e0bbac4e.iframe.bundle.js
  main/storybook/135.e0bbac4e.iframe.bundle.js.LICENSE.txt
  main/storybook/135.e0bbac4e.iframe.bundle.js.map
  main/storybook/238.eb445a55.iframe.bundle.js
  main/storybook/components-base-Badge-index-stories.2de0f327.iframe.bundle.js
  main/storybook/components-base-Button-index-stories.88a3be84.iframe.bundle.js
  main/storybook/components-base-Heading-index-stories.cfc09594.iframe.bundle.js
  main/storybook/components-base-Image-index-stories.0ea0f50e.iframe.bundle.js
  main/storybook/components-base-Label-index-stories.49856170.iframe.bundle.js
  main/storybook/components-base-Text-index-stories.991daae8.iframe.bundle.js
  main/storybook/components-base-TextLink-index-stories.0600af12.iframe.bundle.js
  main/storybook/components-base-Textarea-index-stories.e0e46301.iframe.bundle.js
  main/storybook/components-base-Textbox-index-stories.52e24d91.iframe.bundle.js
  main/storybook/components-common-Accordion-index-stories.45286a21.iframe.bundle.js
  main/storybook/components-common-ImageLink-index-stories.4705e551.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/main.f0c558d6.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.7666e1cc.iframe.bundle.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: f7f200a2146cb161832f266a23367e6803fd31de
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🎨 chore: nextとnodeのバージョンを上げる
  .github/workflows/deploy-chromatic.yml
  .github/workflows/publish-ghpages.yml
  .node-version
  package.json
  yarn.lock
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🎨 chore: nextConfigにoutputを追加する
  next.config.js
  package.json
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🎨 chore: @types系のバージョンを上げる
  package.json
  yarn.lock
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🎨 chore: serveをインストールし、startスクリプトで使用する
  package.json
  yarn.lock
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🎨 chore: storybookのビルド後のディレクトリをcspellの対象外にする
  .cspell.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🎨 chore: storybookのアップデート
  .storybook/main.ts
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🎨 chore: CIでyarnのバージョン3を使用する
  .github/workflows/deploy-chromatic.yml
  .github/workflows/publish-ghpages.yml
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🎨 chore: CIでyarnのバージョン3を使用するための修正
  .github/workflows/deploy-chromatic.yml
  .github/workflows/publish-ghpages.yml
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

👷 ci: yarn config get cacheFolderコマンドを使用してキャッシュのディレクトリパスを取得する
  .github/workflows/deploy-chromatic.yml
  .github/workflows/publish-ghpages.yml
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🎨 chore: yarnのバージョンをv4.0.2に上げる
  .cspell.json
  .gitignore
  .npmrc
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

👷 ci: yarnのバージョンを指定する
  .github/workflows/deploy-chromatic.yml
  .github/workflows/publish-ghpages.yml
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

👷 ci: 環境変数の名前を修正
  .github/workflows/deploy-chromatic.yml
  .github/workflows/publish-ghpages.yml
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

👷 ci: publish-lighthouseでもyarnのバージョンを上げる
  .github/workflows/publish-ghpages.yml
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

👷 ci: キャッシュがなかった場合にエラーになってしまうため、--immutable-cacheオプションを削除する
  .github/workflows/deploy-chromatic.yml
  .github/workflows/publish-ghpages.yml
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

👷 ci: yarnのバージョンをv4.0.2に上げる
  .github/workflows/deploy-chromatic.yml
  .github/workflows/publish-ghpages.yml
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

👷 ci: 環境変数でYARNという文字を使わないようにする
  .github/workflows/deploy-chromatic.yml
  .github/workflows/publish-ghpages.yml
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

👷 ci: キャッシュが存在しない時にエラーとなってしまうため、--immutable-cacheオプションを削除する
  .github/workflows/deploy-chromatic.yml
  .github/workflows/publish-ghpages.yml
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

📝 docs: 開発環境にYarnを追加する
  docs/tech.md
Due: yarn lint:ls, yarn lint:cspell

👷 ci: キャッシュディレクトリのパスの取得コマンドの修正
  .github/workflows/deploy-chromatic.yml
  .github/workflows/publish-ghpages.yml
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: f0f8bb456d490d68a40b334fa5411f4caef90109
  chore_319_upgrade-next-and-yarn/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

📝 docs: Corepackを有効化するコマンドの追加
  .cspell.json
  docs/installation.md
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

👷 ci: idと環境変数の命名を修正
  .github/workflows/deploy-chromatic.yml
  .github/workflows/publish-ghpages.yml
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell
