Repository uyupun/official: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 1eb013dbb3176f0dab1bf67df3f1839b28044735
  chore_349_the-new-css-reset/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 09078396e1faafbb837954c1b790531680658067
  main/storybook/845.941f2a1a.iframe.bundle.js
  main/storybook/845.941f2a1a.iframe.bundle.js.LICENSE.txt
  main/storybook/845.941f2a1a.iframe.bundle.js.map
  main/storybook/components-base-Textarea-index-stories.bd281c8f.iframe.bundle.js
  main/storybook/components-base-Textbox-index-stories.ef66061f.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/main.75e86c40.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.fa548320.iframe.bundle.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 09078396e1faafbb837954c1b790531680658067
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: TechnologyBadgeコンポーネントの移動
  src/components/domain/TechnologyBadge/constant.ts
  src/components/domain/TechnologyBadge/index.stories.tsx
  src/components/domain/TechnologyBadge/index.tsx
  src/components/domain/TechnologyBadge/styles.css.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: storiesファイル内でのプレフィックスを修正
  src/components/domain/TechnologyBadge/index.stories.tsx
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: .gitkeepの削除
  src/components/domain/.gitkeep
Due: yarn lint:ls, yarn lint:cspell

deploy: 18c70534b63679fe115b22a252505c03224fc9a0
  refactor_360_move-technology-badge/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: d8e39a5aad688c0821f581f405906b520a893f61
  main/storybook/845.18fedefb.iframe.bundle.js
  main/storybook/845.18fedefb.iframe.bundle.js.LICENSE.txt
  main/storybook/845.18fedefb.iframe.bundle.js.map
  main/storybook/components-domain-TechnologyBadge-index-stories.417c38b9.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/main.91f24344.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.5fd82d70.iframe.bundle.js
  main/storybook/stories.json
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: d8e39a5aad688c0821f581f405906b520a893f61
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: b56f0d4198c9a47475d8accb05820362159aad82
  main/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: b56f0d4198c9a47475d8accb05820362159aad82
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

📝 docs: 使用技術からアーキテクチャ項目を削除
  .cspell.json
  docs/tech.md
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🎨 chore: cSpellにBCCDを追加
  .cspell.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

📝 docs: アーキテクチャのドキュメントを追加
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

📝 docs: READMEにアーキテクチャのリンクを追加
  README.md
Due: yarn lint:ls, yarn lint:cspell

deploy: 1dde57bb734862e7a6e232929d3e5824332bcfdc
  docs_359_bccd/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

📝 docs: コンポーネント項目を追加し、BCCDデザインの説明を一段下げる
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

📝 docs: 参照欄を追加
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

📝 docs: 分類を分類方法に修正
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

📝 docs: 分類方法の各説明を分割する
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

📝 docs: 留意点の説明を修正
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

deploy: 7be85870e10b438500567c71273520e056c275e2
  docs_359_bccd/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 7be85870e10b438500567c71273520e056c275e2
  docs_359_bccd/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

📝 docs: 各分類の説明を修正
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

📝 docs: タイポの修正
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

📝 docs: Common/Domainの役割を修正
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

deploy: ffa5b157c2abd861b573bf0e0886c39686614070
  docs_359_bccd/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: ffa5b157c2abd861b573bf0e0886c39686614070
  docs_359_bccd/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

📝 docs: ルールという文言を追加
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

📝 docs: 留意点の文章を修正
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

📝 docs: 留意点に記述していた文章をCommon/Domainの説明欄に含める
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

deploy: e4510a108797a5875148717efad57209355ffc4d
  docs_359_bccd/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: e4510a108797a5875148717efad57209355ffc4d
  docs_359_bccd/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 68f94ea7a6546411a4947310ddf6f0bae96a5a04
  docs_359_bccd/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

Path conditions:
  yarn lint:eslint: any of: *.{js,jsx,ts,tsx}
  yarn lint:prettier: any of: *.{js,jsx,ts,tsx,json,html,css,yml,yaml}
  yarn lint:ls: any of: *.*
  yarn lint:cspell: any of: *.*
