Repository uyupun/official: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "yarn lint:eslint",
  "*.{js,jsx,ts,tsx,json,html,css,yml,yaml}": "yarn lint:prettier",
  "*.*": ["yarn lint:ls", "yarn lint:cspell"]
}

deploy: 546121d6e6e927ad09fa2344070436b6514d3e41
  main/storybook/components-base-Text-index-stories.9cab422f.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/project.json
  main/storybook/runtime~main.3fa1d6b0.iframe.bundle.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 546121d6e6e927ad09fa2344070436b6514d3e41
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

✨ feat: TextコンポーネントのPropsにlineHeightを追加
  src/components/base/Text/index.tsx
  src/components/base/Text/styles.css.ts
  src/styles/themes.css.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

✨ feat: TextコンポーネントのPropsにfontSizeを追加
  src/components/base/Text/index.tsx
  src/components/base/Text/styles.css.ts
  src/styles/themes.css.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

✨ feat: line-heightとfont-sizeをstoriesに追加
  src/components/base/Text/index.stories.tsx
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: ee740d6cbdfce37eca64f2e44d6fc6f1426d7f36
  feat_text-component-props/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 1a1cbad5ea3157e6ccc8740757132eece066d18a
  main/storybook/components-base-Text-index-stories.69071640.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/project.json
  main/storybook/runtime~main.7fa1cde0.iframe.bundle.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 1a1cbad5ea3157e6ccc8740757132eece066d18a
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🐛 fix: TextコンポーネントのPropsを用いてスタイルを反映する
  src/components/domain/Vision/index.tsx
  src/components/domain/Vision/styles.css.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 6b18afbd4dbb208ee442f37ce6840d374590e726
  feat_355_vision/storybook/75.d83e1ee1.iframe.bundle.js
  feat_355_vision/storybook/components-base-Text-index-stories.99e20d06.iframe.bundle.js
  feat_355_vision/storybook/components-domain-Vision-index-stories.8e3d459e.iframe.bundle.js
  feat_355_vision/storybook/iframe.html
  feat_355_vision/storybook/project.json
  feat_355_vision/storybook/runtime~main.9298f28a.iframe.bundle.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 6b18afbd4dbb208ee442f37ce6840d374590e726
  feat_355_vision/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🐛 fix: TextコンポーネントのPropsを用いてスタイルを反映する
  src/components/domain/Value/index.tsx
  src/components/domain/Value/styles.css.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: JSDocの記載を修正
  src/components/domain/Value/index.tsx
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 4c51403bc1a6a883c09c0336c390cc6d8db62ce6
  feat_356_value/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 478202796c5eaccc29ca41409f87162bd67057f5
  main/storybook/75.d83e1ee1.iframe.bundle.js
  main/storybook/components-base-Heading-index-stories.1cbc38d2.iframe.bundle.js
  main/storybook/components-base-Text-index-stories.99e20d06.iframe.bundle.js
  main/storybook/components-domain-Vision-index-stories.8e3d459e.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/main.65618bc8.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.9298f28a.iframe.bundle.js
  main/storybook/stories.json
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 478202796c5eaccc29ca41409f87162bd67057f5
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: dab9607c9b9963f095fbd6edc52186bdc12f607c
  main/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: dab9607c9b9963f095fbd6edc52186bdc12f607c
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: PhilosophyValuesに命名を変更
  src/components/domain/PhilosophyValues/index.stories.tsx
  src/components/domain/PhilosophyValues/index.tsx
  src/components/domain/PhilosophyValues/styles.css.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 16d03ce5629ac7175f0ab152efce2dce0dce2009
  main/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 16d03ce5629ac7175f0ab152efce2dce0dce2009
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

✨ feat: PhilosophyValues.Itemを作成する
  src/components/domain/PhilosophyValues/index.stories.tsx
  src/components/domain/PhilosophyValues/index.tsx
  src/components/domain/PhilosophyValues/styles.css.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 49fac968d246b6c3ee959d32c6a84e501103c295
  feat_356_value/storybook/components-domain-PhilosophyValues-index-stories.4f21d1d7.iframe.bundle.js
  feat_356_value/storybook/iframe.html
  feat_356_value/storybook/index.json
  feat_356_value/storybook/main.d44c6591.iframe.bundle.js
  feat_356_value/storybook/project.json
  feat_356_value/storybook/runtime~main.4724dbc2.iframe.bundle.js
  feat_356_value/storybook/stories.json
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 49fac968d246b6c3ee959d32c6a84e501103c295
  feat_356_value/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🐛 fix: ファイルを分割し、PhilosophyValues内でPhilosophyValueを使用するように修正
  src/components/domain/PhilosophyValues/index.stories.tsx
  src/components/domain/PhilosophyValues/index.ts
  src/components/domain/PhilosophyValues/index.tsx
  src/components/domain/PhilosophyValues/value.stories.tsx
  src/components/domain/PhilosophyValues/value.tsx
  src/components/domain/PhilosophyValues/values.stories.tsx
  src/components/domain/PhilosophyValues/values.tsx
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: ディレクトリ構成の修正
  src/components/domain/Philosophy/Values/index.ts
  src/components/domain/Philosophy/Values/styles.css.ts
  src/components/domain/Philosophy/Values/value.stories.tsx
  src/components/domain/Philosophy/Values/value.tsx
  src/components/domain/Philosophy/Values/values.stories.tsx
  src/components/domain/Philosophy/Values/values.tsx
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

📝 docs: サブディレクトリの使用についてドキュメントに記載する
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

deploy: 23da4914584d086da77b951dbd3c53e86eb9bb99
  feat_356_value/storybook/74.ca9ad754.iframe.bundle.js
  feat_356_value/storybook/components-domain-Philosophy-Values-value-stories.6399f5a3.iframe.bundle.js
  feat_356_value/storybook/components-domain-Philosophy-Values-values-stories.4c661c85.iframe.bundle.js
  feat_356_value/storybook/iframe.html
  feat_356_value/storybook/index.json
  feat_356_value/storybook/main.78b15713.iframe.bundle.js
  feat_356_value/storybook/project.json
  feat_356_value/storybook/runtime~main.68afceba.iframe.bundle.js
  feat_356_value/storybook/stories.json
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 23da4914584d086da77b951dbd3c53e86eb9bb99
  feat_356_value/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 7cb6fadadc0a76e06fe6f01177c65ad6baad25e9
  main/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 7cb6fadadc0a76e06fe6f01177c65ad6baad25e9
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: Story名の修正
  src/components/domain/Philosophy/Values/value.stories.tsx
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

📝 docs: サブディレクトリについての留意点を修正
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

deploy: 3f3959d4543f8624f3e708b3b66af159af20f3f1
  feat_356_value/storybook/components-domain-Philosophy-Values-value-stories.3b0f0b02.iframe.bundle.js
  feat_356_value/storybook/iframe.html
  feat_356_value/storybook/index.json
  feat_356_value/storybook/project.json
  feat_356_value/storybook/runtime~main.c754ac52.iframe.bundle.js
  feat_356_value/storybook/stories.json
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 3f3959d4543f8624f3e708b3b66af159af20f3f1
  feat_356_value/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell
