Repository uyupun/official: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: Storybook上の階層を修正
  src/components/domain/Philosophy/Values/value.stories.tsx
  src/components/domain/Philosophy/Values/values.stories.tsx
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

📝 docs: サブディレクトリに関する留意点の修正
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

deploy: b8cbff9d17067c9f56728fa1a2c74fddcde73f00
  feat_356_value/storybook/components-domain-Philosophy-Values-value-stories.d69b1a8d.iframe.bundle.js
  feat_356_value/storybook/components-domain-Philosophy-Values-values-stories.bc24b78b.iframe.bundle.js
  feat_356_value/storybook/iframe.html
  feat_356_value/storybook/index.json
  feat_356_value/storybook/project.json
  feat_356_value/storybook/runtime~main.2c7546eb.iframe.bundle.js
  feat_356_value/storybook/stories.json
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: b8cbff9d17067c9f56728fa1a2c74fddcde73f00
  feat_356_value/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

📝 docs: 留意点の文言を修正
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

deploy: e5057f81deaa4e6a6e4cb1e85f8c6155a911da3a
  feat_356_value/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: e5057f81deaa4e6a6e4cb1e85f8c6155a911da3a
  feat_356_value/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: ccbb00ad7b6065d1f1805b47365c6eeb941745ed
  main/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: ccbb00ad7b6065d1f1805b47365c6eeb941745ed
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

📝 docs: サブディレクトリについての留意点を修正
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

deploy: e625b15f83241dcab5ae1a7399b63b5d8f79921a
  feat_356_value/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: e625b15f83241dcab5ae1a7399b63b5d8f79921a
  feat_356_value/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 597176a8241908ed5af22c055117d530fdf1650f
  main/storybook/74.ca9ad754.iframe.bundle.js
  main/storybook/components-domain-Philosophy-Values-value-stories.d69b1a8d.iframe.bundle.js
  main/storybook/components-domain-Philosophy-Values-values-stories.bc24b78b.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/main.c7895a64.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.59c1835a.iframe.bundle.js
  main/storybook/stories.json
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 597176a8241908ed5af22c055117d530fdf1650f
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: b8160ef79e3fe5fab27a6f4594bed35ed3e0ec15
  main/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: b8160ef79e3fe5fab27a6f4594bed35ed3e0ec15
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: fb83a2d8107bf4b9eaac4fc10dc8131a29d607a3
  main/storybook/179.db3ce420.iframe.bundle.js
  main/storybook/332.1bcce7d3.iframe.bundle.js
  main/storybook/332.1bcce7d3.iframe.bundle.js.LICENSE.txt
  main/storybook/332.1bcce7d3.iframe.bundle.js.map
  main/storybook/406.9a3e5582.iframe.bundle.js
  main/storybook/425.e5bff33d.iframe.bundle.js
  main/storybook/572.eead0c7b.iframe.bundle.js
  main/storybook/609.8bef77c1.iframe.bundle.js
  main/storybook/609.8bef77c1.iframe.bundle.js.LICENSE.txt
  main/storybook/631.ea658ad3.iframe.bundle.js
  main/storybook/648.2e228751.iframe.bundle.js
  main/storybook/705.897ed2e6.iframe.bundle.js
  main/storybook/71.1a194788.iframe.bundle.js
  main/storybook/71.1a194788.iframe.bundle.js.map
  main/storybook/845.08476910.iframe.bundle.js
  main/storybook/857.6bf43353.iframe.bundle.js
  main/storybook/942.29db4fef.iframe.bundle.js
  main/storybook/979.f13e53e2.iframe.bundle.js
  main/storybook/components-base-Badge-index-stories.53d6470d.iframe.bundle.js
  main/storybook/components-base-Button-index-stories.61f5c472.iframe.bundle.js
  main/storybook/components-base-Heading-index-stories.b744ff09.iframe.bundle.js
  main/storybook/components-base-Icons-index-stories.870d4107.iframe.bundle.js
  main/storybook/components-base-Image-index-stories.13969d59.iframe.bundle.js
  main/storybook/components-base-Label-index-stories.5c30312d.iframe.bundle.js
  main/storybook/components-base-Text-index-stories.b0584bd0.iframe.bundle.js
  main/storybook/components-base-TextLink-index-stories.8bca0f35.iframe.bundle.js
  main/storybook/components-base-Textarea-index-stories.5db9a19b.iframe.bundle.js
  main/storybook/components-base-Textbox-index-stories.c114dc9b.iframe.bundle.js
  main/storybook/components-common-Accordion-index-stories.bab7bbf8.iframe.bundle.js
  main/storybook/components-common-ImageLink-index-stories.5ca24a20.iframe.bundle.js
  main/storybook/components-common-Logo-index-stories.6070a655.iframe.bundle.js
  main/storybook/components-domain-Philosophy-Values-value-stories.9ffaf61c.iframe.bundle.js
  main/storybook/components-domain-Philosophy-Values-values-stories.94d4abd7.iframe.bundle.js
  main/storybook/components-domain-TechnologyBadge-index-stories.66f5e34b.iframe.bundle.js
  main/storybook/components-domain-Vision-index-stories.4bbce97a.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/main.6ad6b3dd.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.ce607429.iframe.bundle.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: fb83a2d8107bf4b9eaac4fc10dc8131a29d607a3
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: ddd4004e0b9d317a425daf99a57247d952708c1a
  main/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: ddd4004e0b9d317a425daf99a57247d952708c1a
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: c42b784b6cb945091e074c0ccbb63480fc68dd10
  main/storybook/179.6e5dc0ac.iframe.bundle.js
  main/storybook/332.59e581c9.iframe.bundle.js
  main/storybook/332.59e581c9.iframe.bundle.js.LICENSE.txt
  main/storybook/332.59e581c9.iframe.bundle.js.map
  main/storybook/iframe.html
  main/storybook/project.json
  main/storybook/runtime~main.f2248b0a.iframe.bundle.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: c42b784b6cb945091e074c0ccbb63480fc68dd10
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: a968ca201a9f289caa2cbabf41d9963620fa89e5
  main/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: a968ca201a9f289caa2cbabf41d9963620fa89e5
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: fc9ba9ae4b78ce118d5c3dec3d09a9b341dd8735
  main/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: fc9ba9ae4b78ce118d5c3dec3d09a9b341dd8735
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🎨 chore: 依存関係を更新
  yarn.lock
Due: yarn lint:ls, yarn lint:cspell

deploy: be0428082f1780edf30b54b763cc335e13f2df92
  feat_update_yarn_lock/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: f4400a3f262df2eae270c32d9a3a527bf007401b
  main/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: f4400a3f262df2eae270c32d9a3a527bf007401b
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🎨 chore: Next.jsアップデートに伴うnext-env.d.tsの自動的な更新
  next-env.d.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: dcaeb680a2efa0173106d474a64fa8dfdb4965bb
  main/storybook/179.7411ac27.iframe.bundle.js
  main/storybook/332.73f82cf5.iframe.bundle.js
  main/storybook/332.73f82cf5.iframe.bundle.js.LICENSE.txt
  main/storybook/332.73f82cf5.iframe.bundle.js.map
  main/storybook/iframe.html
  main/storybook/project.json
  main/storybook/runtime~main.c192ceb5.iframe.bundle.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: dcaeb680a2efa0173106d474a64fa8dfdb4965bb
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 81462e11b8e5a5207f18a2226a66e8beeb348eed
  main/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 81462e11b8e5a5207f18a2226a66e8beeb348eed
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 03c6acfa0d38762ba3888e26e6f5e4f99a90edf9
  main/storybook/332.b784df2f.iframe.bundle.js
  main/storybook/332.b784df2f.iframe.bundle.js.LICENSE.txt
  main/storybook/332.b784df2f.iframe.bundle.js.map
  main/storybook/iframe.html
  main/storybook/project.json
  main/storybook/sb-addons/essentials-controls-1/manager-bundle.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 03c6acfa0d38762ba3888e26e6f5e4f99a90edf9
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

Path conditions:
  yarn lint:eslint: any of: *.{js,jsx,ts,tsx}
  yarn lint:prettier: any of: *.{js,jsx,ts,tsx,json,html,css,yml,yaml}
  yarn lint:ls: any of: *.*
  yarn lint:cspell: any of: *.*
