Repository uyupun/official: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "yarn lint:eslint",
  "*.{js,jsx,ts,tsx,json,html,css,yml,yaml}": "yarn lint:prettier",
  "*.*": ["yarn lint:ls", "yarn lint:cspell"]
}

deploy: 6915df7bc9a80e1bfffe644e351d84c7d93fdac0
  feat_cspell/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 6915df7bc9a80e1bfffe644e351d84c7d93fdac0
  feat_cspell/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🎨 chore: VSCodeからCSpellの設定を削除
  .cspell.json
  .vscode/settings.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 4f02adb3a68057b5fc0f07a2fbe8a0e3892146e5
  feat_cspell/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 4f02adb3a68057b5fc0f07a2fbe8a0e3892146e5
  feat_cspell/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🐛 fix: ドットで始まるファイル・ディレクトリもチェックの対象にする
  .cspell.json
  package.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 6fe9b0a96388ea6c6e26d7c4483203e7b56ca52b
  feat_cspell/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 6fe9b0a96388ea6c6e26d7c4483203e7b56ca52b
  feat_cspell/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 7ef99d1be6c8f40bfd67429646565791c9cb639e
  feat_cspell/storybook/components-common-ImageLink-index-stories.f6d7b74f.iframe.bundle.js
  feat_cspell/storybook/iframe.html
  feat_cspell/storybook/project.json
  feat_cspell/storybook/runtime~main.67c10890.iframe.bundle.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 7ef99d1be6c8f40bfd67429646565791c9cb639e
  feat_cspell/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: 不要な設定を削除
  .cspell.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: ff1d6053fe1aa7cb89a573cda922a1574af8b41e
  feat_cspell/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: ff1d6053fe1aa7cb89a573cda922a1574af8b41e
  feat_cspell/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 06d2d647cf8c73bc141c9fc44b6e3ee912079eff
  main/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 06d2d647cf8c73bc141c9fc44b6e3ee912079eff
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🎨 chore: CSpellの不要なwordsを自動で削除するスクリプトを実装
  .cspell.json
  package.json
  src/scripts/cleanCspell.ts
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: リファクタリング
  src/scripts/cleanCspell.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: d058e62e5fe4699cfa87e5c413709118236033f4
  feat_cspell_auto_clean/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: リファクタリング
  package.json
  src/scripts/cleanCspellWords.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: db0e206767df62f37a7e685e4746bbc384ccf646
  feat_cspell_auto_clean/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: 変数名を改善
  src/scripts/cleanCspellWords.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 35c22f9daadd998a2aac663c06b58be47e62a686
  feat_cspell_auto_clean/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🎨 chore: pre-commitでCSpellのクリーンを実行する
  .husky/pre-commit
Due: none

deploy: 4867a64b57a1dceef4fcd94c9381149751ed8472
  feat_cspell_auto_clean/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🐛 fix: ビルド時のエラーを修正
  package.json
  src/scripts/cleanCspellWords.ts
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 45de46cb04e2ea5e61bc47aa2d05ea782ea91578
  feat_cspell_auto_clean/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 45de46cb04e2ea5e61bc47aa2d05ea782ea91578
  feat_cspell_auto_clean/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

📝 docs: CSpell関連のコマンドを追記
  docs/commands.md
Due: yarn lint:ls, yarn lint:cspell

deploy: 0bb012810ce94d4dcbc06022cd3d9a9786a29d56
  feat_cspell_auto_clean/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 0bb012810ce94d4dcbc06022cd3d9a9786a29d56
  feat_cspell_auto_clean/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🐛 fix: __dirnameが参照できないバグを修正
  src/scripts/generateImages.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 3227ac7a98e6345245334da6bdbfd286a92729c3
  feat_fix_generate_images/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 3281686bfb493b1fea5d7ebdd84179e7f51488c9
  main/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: e91d2b4255fe211c4f4211d672a69937f5b1c67b
  main/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: e91d2b4255fe211c4f4211d672a69937f5b1c67b
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell
