Repository uyupun/official: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 68f94ea7a6546411a4947310ddf6f0bae96a5a04
  docs_359_bccd/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 953071b020c3e0dceeeeeb37a936a947c381d91c
  main/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 953071b020c3e0dceeeeeb37a936a947c381d91c
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

✨ feat: 背景をグラデーションにする
  src/pages/_app.tsx
  src/styles/layout.css.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 8e5dff0622be049af0104ff6648dfa5dfdbc8262
  feat_308_layout/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: フルHDの高さに変更
  src/styles/layout.css.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 957a30dffb452f778f940caa81517b767268fabe
  feat_308_layout/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 957a30dffb452f778f940caa81517b767268fabe
  feat_308_layout/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 60151ab950900653bfc5293da6d7f458d1c6af06
  main/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 60151ab950900653bfc5293da6d7f458d1c6af06
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 6722785d03bb09bdefbb6a3e87f50894ef336e15
  main/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 6722785d03bb09bdefbb6a3e87f50894ef336e15
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

📝 docs: アーキテクチャに背景を追加
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

deploy: b2ecde32c7314367c2791893f010fa65356c28cd
  docs_369_background/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 6722785d03bb09bdefbb6a3e87f50894ef336e15
  docs_369_background/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: b2ecde32c7314367c2791893f010fa65356c28cd
  docs_369_background/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

📝 docs: 主な選定理由の修正
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

📝 docs: 副次的な選定理由を修正
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

📝 docs: Atomic Designとfeaturesディレクトリにリンクを追加
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

deploy: fd0542cf6565c5f859dc4dd73c8e3152ac9d8f3c
  docs_369_background/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: fd0542cf6565c5f859dc4dd73c8e3152ac9d8f3c
  docs_369_background/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

📝 docs: BCCD Dsignにリンクを追加
  docs/architecture.md
Due: yarn lint:ls, yarn lint:cspell

deploy: ca815d107c50f11332e48d58484fc7c991fbba6e
  docs_369_background/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: ca815d107c50f11332e48d58484fc7c991fbba6e
  docs_369_background/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: be282b1244857231920d3f3b990c423790645e47
  main/storybook/project.json
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: be282b1244857231920d3f3b990c423790645e47
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

✨ feat: ロゴコンポーネントの作成
  src/components/common/Logo/index.stories.tsx
  src/components/common/Logo/index.tsx
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 537f7f93d9283f2b71b3b1ba98975fcb51d4af78
  feat_353_logo/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: ロゴの前後にmarginを追加
  src/components/common/Logo/index.stories.tsx
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 8f00560aff662a4ce2c6808a2622df861ab989f5
  feat_353_logo/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

Path conditions:
  yarn lint:eslint: any of: *.{js,jsx,ts,tsx}
  yarn lint:prettier: any of: *.{js,jsx,ts,tsx,json,html,css,yml,yaml}
  yarn lint:ls: any of: *.*
  yarn lint:cspell: any of: *.*
