Repository uyupun/official: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 7badd93f2eab53e7463c859d635b4b449fa95728
  fix_305_font-color/storybook/components-base-Icons-index-stories.b51fed8b.iframe.bundle.js
  fix_305_font-color/storybook/iframe.html
  fix_305_font-color/storybook/project.json
  fix_305_font-color/storybook/runtime~main.ff2f4858.iframe.bundle.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 7badd93f2eab53e7463c859d635b4b449fa95728
  fix_305_font-color/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: 使用していなかったカラーを削除する
  src/styles/themes.css.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: storiesファイルのみで使用していたカラーを削除する
  src/components/base/Image/index.stories.tsx
  src/styles/themes.css.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: d7f2e4b754da3aa8a945a11b1ee1e33510902913
  fix_305_font-color/storybook/105.3c2573d9.iframe.bundle.js
  fix_305_font-color/storybook/347.2a8ec6da.iframe.bundle.js
  fix_305_font-color/storybook/366.7bea0e68.iframe.bundle.js
  fix_305_font-color/storybook/366.7bea0e68.iframe.bundle.js.LICENSE.txt
  fix_305_font-color/storybook/366.7bea0e68.iframe.bundle.js.map
  fix_305_font-color/storybook/components-base-Button-index-stories.2aabd191.iframe.bundle.js
  fix_305_font-color/storybook/components-base-Heading-index-stories.293e1534.iframe.bundle.js
  fix_305_font-color/storybook/components-base-Icons-index-stories.06ae548d.iframe.bundle.js
  fix_305_font-color/storybook/components-base-Image-index-stories.1f31c2b0.iframe.bundle.js
  fix_305_font-color/storybook/components-base-Label-index-stories.1a885e2a.iframe.bundle.js
  fix_305_font-color/storybook/components-base-Text-index-stories.0a6a7c04.iframe.bundle.js
  fix_305_font-color/storybook/components-base-TextLink-index-stories.025cd946.iframe.bundle.js
  fix_305_font-color/storybook/components-base-Textarea-index-stories.bfc2669b.iframe.bundle.js
  fix_305_font-color/storybook/components-base-Textbox-index-stories.9edd2fde.iframe.bundle.js
  fix_305_font-color/storybook/components-case-TechnologyBadge-index-stories.aa1e6c26.iframe.bundle.js
  fix_305_font-color/storybook/components-common-Accordion-index-stories.f9dcc984.iframe.bundle.js
  fix_305_font-color/storybook/components-common-ImageLink-index-stories.a57f6bb6.iframe.bundle.js
  fix_305_font-color/storybook/iframe.html
  fix_305_font-color/storybook/main.07129e48.iframe.bundle.js
  fix_305_font-color/storybook/project.json
  fix_305_font-color/storybook/runtime~main.54b56eed.iframe.bundle.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: d7f2e4b754da3aa8a945a11b1ee1e33510902913
  fix_305_font-color/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 9b662ec764c2be0073638be5e2ca7c0076f903cc
  main/storybook/105.3c2573d9.iframe.bundle.js
  main/storybook/347.2a8ec6da.iframe.bundle.js
  main/storybook/366.7bea0e68.iframe.bundle.js
  main/storybook/366.7bea0e68.iframe.bundle.js.LICENSE.txt
  main/storybook/366.7bea0e68.iframe.bundle.js.map
  main/storybook/components-base-Button-index-stories.2aabd191.iframe.bundle.js
  main/storybook/components-base-Heading-index-stories.293e1534.iframe.bundle.js
  main/storybook/components-base-Icons-index-stories.06ae548d.iframe.bundle.js
  main/storybook/components-base-Image-index-stories.1f31c2b0.iframe.bundle.js
  main/storybook/components-base-Label-index-stories.1a885e2a.iframe.bundle.js
  main/storybook/components-base-Text-index-stories.0a6a7c04.iframe.bundle.js
  main/storybook/components-base-TextLink-index-stories.025cd946.iframe.bundle.js
  main/storybook/components-base-Textarea-index-stories.bfc2669b.iframe.bundle.js
  main/storybook/components-base-Textbox-index-stories.9edd2fde.iframe.bundle.js
  main/storybook/components-case-TechnologyBadge-index-stories.aa1e6c26.iframe.bundle.js
  main/storybook/components-common-Accordion-index-stories.f9dcc984.iframe.bundle.js
  main/storybook/components-common-ImageLink-index-stories.a57f6bb6.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/main.07129e48.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.54b56eed.iframe.bundle.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 9b662ec764c2be0073638be5e2ca7c0076f903cc
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: hoverWhiteの命名を変更
  src/components/base/Button/styles.css.ts
  src/styles/themes.css.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: hoverBlueの命名を変更
  src/components/common/ImageLink/styles.css.ts
  src/styles/themes.css.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 71fb8c11bbda4c7b22d39daa7a8d7538da6bc6fe
  refactor_305_color-name/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: modern-css-resetを削除
  .storybook/preview.tsx
  package.json
  src/pages/_app.tsx
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

✨ feat: reset.cssの作成
  .storybook/preview.tsx
  src/pages/_app.tsx
  src/styles/reset.css
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

📝 docs: modern-css-resetのリンクを修正
  docs/tech.md
Due: yarn lint:ls, yarn lint:cspell

deploy: ac017c78b217146b462e505621c5452015c5afc0
  chore_310_modern-css-reset/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: 半透明の色の名前を変更
  src/components/base/Button/styles.css.ts
  src/components/common/ImageLink/styles.css.ts
  src/styles/themes.css.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: dd00f729fca4a57c4cdc276bda338f5d2dbcaf0c
  refactor_305_color-name/storybook/components-base-Icons-index-stories.1932b346.iframe.bundle.js
  refactor_305_color-name/storybook/components-base-Image-index-stories.bd4044a9.iframe.bundle.js
  refactor_305_color-name/storybook/components-common-Accordion-index-stories.7a2e9367.iframe.bundle.js
  refactor_305_color-name/storybook/iframe.html
  refactor_305_color-name/storybook/main.56027f62.iframe.bundle.js
  refactor_305_color-name/storybook/project.json
  refactor_305_color-name/storybook/runtime~main.6cd8e6be.iframe.bundle.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: dd00f729fca4a57c4cdc276bda338f5d2dbcaf0c
  refactor_305_color-name/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

💄 style: カラーの順番を変更
  src/styles/themes.css.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: d8211e4ed90020712fb389b73ab0eefc50b54028
  refactor_305_color-name/storybook/130.6a119d8a.iframe.bundle.js
  refactor_305_color-name/storybook/130.6a119d8a.iframe.bundle.js.LICENSE.txt
  refactor_305_color-name/storybook/130.6a119d8a.iframe.bundle.js.map
  refactor_305_color-name/storybook/347.f4f2bb61.iframe.bundle.js
  refactor_305_color-name/storybook/components-base-Button-index-stories.9fb04db9.iframe.bundle.js
  refactor_305_color-name/storybook/components-base-Heading-index-stories.e796add2.iframe.bundle.js
  refactor_305_color-name/storybook/components-base-Icons-index-stories.48885e9f.iframe.bundle.js
  refactor_305_color-name/storybook/components-base-Image-index-stories.8637a012.iframe.bundle.js
  refactor_305_color-name/storybook/components-base-Label-index-stories.ca0ce0ff.iframe.bundle.js
  refactor_305_color-name/storybook/components-base-Text-index-stories.7d995a33.iframe.bundle.js
  refactor_305_color-name/storybook/components-base-TextLink-index-stories.01830ef5.iframe.bundle.js
  refactor_305_color-name/storybook/components-base-Textarea-index-stories.ac88e502.iframe.bundle.js
  refactor_305_color-name/storybook/components-base-Textbox-index-stories.ad403146.iframe.bundle.js
  refactor_305_color-name/storybook/components-case-TechnologyBadge-index-stories.4e321d8b.iframe.bundle.js
  refactor_305_color-name/storybook/components-common-Accordion-index-stories.995a9547.iframe.bundle.js
  refactor_305_color-name/storybook/components-common-ImageLink-index-stories.8080d70a.iframe.bundle.js
  refactor_305_color-name/storybook/iframe.html
  refactor_305_color-name/storybook/main.1155e9ec.iframe.bundle.js
  refactor_305_color-name/storybook/project.json
  refactor_305_color-name/storybook/runtime~main.79a7ae3d.iframe.bundle.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: d8211e4ed90020712fb389b73ab0eefc50b54028
  refactor_305_color-name/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 710968e7ed497a47ac6a71792a4be24d65223028
  main/storybook/130.6a119d8a.iframe.bundle.js
  main/storybook/130.6a119d8a.iframe.bundle.js.LICENSE.txt
  main/storybook/130.6a119d8a.iframe.bundle.js.map
  main/storybook/347.f4f2bb61.iframe.bundle.js
  main/storybook/components-base-Button-index-stories.9fb04db9.iframe.bundle.js
  main/storybook/components-base-Heading-index-stories.e796add2.iframe.bundle.js
  main/storybook/components-base-Icons-index-stories.48885e9f.iframe.bundle.js
  main/storybook/components-base-Image-index-stories.8637a012.iframe.bundle.js
  main/storybook/components-base-Label-index-stories.ca0ce0ff.iframe.bundle.js
  main/storybook/components-base-Text-index-stories.7d995a33.iframe.bundle.js
  main/storybook/components-base-TextLink-index-stories.01830ef5.iframe.bundle.js
  main/storybook/components-base-Textarea-index-stories.ac88e502.iframe.bundle.js
  main/storybook/components-base-Textbox-index-stories.ad403146.iframe.bundle.js
  main/storybook/components-case-TechnologyBadge-index-stories.4e321d8b.iframe.bundle.js
  main/storybook/components-common-Accordion-index-stories.995a9547.iframe.bundle.js
  main/storybook/components-common-ImageLink-index-stories.8080d70a.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/main.1155e9ec.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.79a7ae3d.iframe.bundle.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 710968e7ed497a47ac6a71792a4be24d65223028
  main/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🎨 chore: modern-css-resetの削除
  .storybook/preview.tsx
  docs/tech.md
  package.json
  src/pages/_app.tsx
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🎨 chore: @acab/reset.cssの導入
  .cspell.json
  docs/tech.md
  package.json
  yarn.lock
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

✨ feat: @acab/reset.cssの使用
  .storybook/preview.tsx
  src/pages/_app.tsx
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: c010d28353125906942fcd439763e1412782d387
  chore_349_@acab-reset-css/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🎨 chore: the-new-css-resetの導入
  docs/tech.md
  package.json
  yarn.lock
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

✨ feat: the-new-css-resetの使用
  .storybook/preview.tsx
  src/pages/_app.tsx
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

🐛 fix: Storybookの背景を広げる
  .storybook/preview-head.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: eddc5896d3bcc2abc36d09d18ddd953c4266299e
  chore_349_the-new-css-reset/lighthouse/index.html
Due: yarn lint:prettier, yarn lint:ls, yarn lint:cspell

♻️ refactor: storiesファイル内で使用しているbutton要素のカラーを変更
  src/components/base/Textarea/index.stories.tsx
  src/components/base/Textbox/index.stories.tsx
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

deploy: 1eb013dbb3176f0dab1bf67df3f1839b28044735
  chore_349_the-new-css-reset/storybook/components-base-Textarea-index-stories.bd281c8f.iframe.bundle.js
  chore_349_the-new-css-reset/storybook/components-base-Textbox-index-stories.ef66061f.iframe.bundle.js
  chore_349_the-new-css-reset/storybook/iframe.html
  chore_349_the-new-css-reset/storybook/project.json
  chore_349_the-new-css-reset/storybook/runtime~main.fa548320.iframe.bundle.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:ls, yarn lint:cspell

Path conditions:
  yarn lint:eslint: any of: *.{js,jsx,ts,tsx}
  yarn lint:prettier: any of: *.{js,jsx,ts,tsx,json,html,css,yml,yaml}
  yarn lint:ls: any of: *.*
  yarn lint:cspell: any of: *.*
